.nav-bar {
    z-index: 200 !important;
}

.navbar-icon {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.navbar-link {
    text-decoration: none;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.sign-out {
    text-decoration: none;
    position: absolute;
    bottom: 2rem;
}

.profile {
    text-decoration: none;
    position: absolute;
    bottom: 4rem;
    margin-left: 10px;
}