.playlist-shortcut {
    background-color: rgb(34, 33, 33) !important;
    border-radius: 20px !important;
    min-width: 275px !important;
    min-height: 150px !important;
    margin: 20px !important;
    transition: transform .2s !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    user-select: none !important;
    float: left !important;
}

.playlist-shortcut:hover {
    background-color: rgb(14, 13, 13);
    transform: scale(1.1);
    cursor: pointer;
}

.playlist-shortcut:nth-child(4n+4) {
    margin-right: 0;
    float: right;
}

.playlist-link {
    text-decoration: none;
}

.playlist-shortcut > h3 {
    font-size: 20px;
    font-size: 1.25vw;
    overflow: hidden;
    /* word-wrap: break-word; */
    white-space: nowrap;
    margin: 20px;
    text-overflow: ellipsis;
    /* max-height: 100px; */
    text-align: center;
}