.songs-page {
    display: flex;
}

.main > h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.song-box {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(98, 100, 98);
}

.footer {
    height: 100px;
}