.playlists-page {
    display: flex;
}

.main > h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    height: 100px;
}

.main {
    min-height: 100vh;
}

.create-playlist {
    display: flex;
    background-color: rgb(34, 33, 33);
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    transition: transform .2s;
}

.create-playlist:hover {
    background-color: rgb(14, 13, 13);
    transform: scale(1.1);
    cursor: pointer;
}

.create-playlist-text {
    margin: 5px;
    font-weight: bold;
    user-select: none;
}