.playlist-page {
    display: flex;
}

.main > h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    height: 100px;
}

.main {
    min-height: 100vh;
}

.playlist-header {
    word-wrap: break-word;
    white-space: normal;
    width: 80vw;
}