.room-page {
    display: flex;
}

.main > h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.message {
    min-height:45px;
    font-family:verdana;
    font-size:150%;
}
.videosContainer {
    background-color: rgb(98, 100, 98);
    min-height: calc(30vw/16*9);
    min-width: 90vw;
    margin:auto;
}
video {
    margin:auto;
}
.othersVideo {  
    width: 30vw;
}
.uservideo {
    position:absolute;
    z-index: 1;
    right:0;
    bottom:0;
    max-height: 15%;
    max-width: 15%;
}
.songs-box {
    display: flex;
    flex-direction: row !important;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(98, 100, 98);
}
.song-info {
    display: flex;
    flex-direction: column !important;
}

.footer {
    height: 100px;
}

.btn-blue {
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	color: goldenrod;
    background-color: skyblue;
	border: 2px #3C3D3F solid;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
    flex-direction: row-reverse;
}

.audio-control {
    padding:15px;
    display:flex;
    min-width:calc(100%-60px);
    margin:auto;
}
.song-selection {
    display:flex;
    flex-direction: row !important;
    margin:auto;
    padding:5px;
}
.song-outer {
    display:flex;
    margin:auto;
}

.karaoke-lrc {
    background-color:rgba(31, 30, 30, 0.9);
    border-radius: 20px;
    min-height: 120px;
    overflow: hidden !important;
    flex: 1;
    width:100%;
}
.song-name {
    font-size: larger;
}
.song-artist {
    font-size: small;
}
.karaoke-icon {
    min-height:100px;
    min-width: 100px;
    margin-top: 10px;
}
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .lrc::-webkit-scrollbar {
      display: none;
  }
  
