.songs-page {
    display: flex;
}

.main > h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    height: 100px;
    z-index: -1;
    position: relative;
}

.main {
    height: 100vh;
}