.App {
	font-family: sans-serif;
	text-align: center;
	/* background-color: #AAAAAA;
	color: white; */
}

.undecorated-link {
	text-decoration: none;
}

.decorated-when-hovered-link:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

/* window background colour*/
.main-button-theme {
	background-color: rgb(33, 177, 45);
}

.main-button-theme:active {
	background-color: rgba(33, 177, 45, 0.514);
}

/* window background colour*/
.main-theme {
	background-color: rgb(56, 55, 55);
	color: white;
}

/* main theme without background color repetition */
.main-theme-no-background {
	color: white;
}

.icon {
	margin-top: 20px;
	width: 100px;
	height: 100px;
}

.error {
	color:red;
}

.main {
    margin-left: 120px;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}